body {
    font-family: 'Montserrat-bold', sans-serif;
    ;
}

h1,h2,h3,h4,h5,h6{
      font-family: 'Montserrat', sans-serif;
}

h1 {
  
    font-size: 3.5rem;
    line-height: 1.5;
}

    h2 {
        font-size: 3rem;
        line-height: 1.5;
}

h3 {
   
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
    font-family: 'Montserrat-black', sans-serif;
}

em{
     font-family: 'Montserrat-light', sans-serif;
    font-size: 1rem;
}

#title {
    background-color: #E5BA73;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item {
    padding: 6px 16px;
   
}

.nav-link {
    font-family: 'Montserrat-light', sans-serif;
    font-size: 1.2rem;
}

.navbar-nav{
    padding-left: 400px;
}

/* downloads-buttons */

.download-buttons {
    margin: 5% 3% 5%;
}

/* title-image */

.title-image {
    width: 53%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width:1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;

    }
    
}

/* .features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;

}

.features-box {
    text-align: center;
    padding: 5%;
}

.icon-features {
    color: #E5BA73;
    font-size: 50px;
    margin-bottom: 1rem;
}

.icon-features:hover {
    color: #FAEAB1;
}

/* testimonial */

#testimonials {
    background-color: #C58940;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}


/* press */

#press{
    background-color: #C58940;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing-section */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* cta section */

#cta{

    background-color: #C58940;
text-align: center;
    padding: 7% 15%;
    color: #fff;
}

.cta-header{
 font-family: "montserrat-black" sans-serif;   
 font-size: 3.5rem;

}


/* footer */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}